Repository Angel-ML/angel, pull requests merged in 2021-06, with the labels that each got.

#1099 make hindex support ps hash partition
  spark-on-angel/examples/src/main/scala/com/tencent/angel/spark/examples/cluster/HIndexExample.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/hindex/HIndex.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/hindex/HIndexOperator.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/hindex/HIndexPSModel.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/hindex/HIndexPartition.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/utils/Stats.scala
Labels: enhancement

#1101 add weighted hindex
  spark-on-angel/examples/src/main/scala/com/tencent/angel/spark/examples/cluster/WeightedHIndexExample.scala
  spark-on-angel/examples/src/main/scala/com/tencent/angel/spark/examples/local/WeightedHIndexExample.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/weightedHIndex/WeightedHIndex.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/weightedHIndex/WeightedHIndexOperator.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/weightedHIndex/WeightedHIndexPSModel.scala
Labels: graph-algorithm

#1103 add pagerank algo
  spark-on-angel/examples/src/main/scala/com/tencent/angel/spark/examples/cluster/PageRankExample.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/pagerank/PageRankModel.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/pagerank/edgecut/PageRankPSModel.scala
  spark-on-angel/graph/src/main/scala/com/tencent/angel/graph/rank/pagerank/vertexcut/PageRankPSModel.scala
Labels: enhancement, graph-algorithm
